<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменить товар</title>
</head>
<body>
    <h1>Изменить  товар</h1>
    
    <form action="" method="post">
        <label for="product_name">Название товара:</label>
        <input type="text" id="product_name" name="product_name"><br><br>
        
        <label for="price">Цена:</label>
        <input type="text" id="price" name="price"><br><br>
        
        <input type="submit" value="Update Product">
    </form>
</body>
</html>
